body{
    font-family: "Roboto Condensed" !important;
}

.seperator{
    height: 1px;
    background-color: #ffbd07;
}

h1{
    font-family: Anton !important;
    font-weight:bolder;
    background: -webkit-linear-gradient(#ffed90, #ffb03a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#bgImage{
    background-image: url("Images/main.png");
    width: 100%;
    height: 1080px;
}

#navContainer{
    position: relative;
    top: 50px;
}

#icon{
    box-shadow: 2px 2px 8px 3px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: absolute;
    right: 100%;
    bottom: 0.5%;
}

.navbar{
    font-weight: bold;
    border-radius: 7.5px;
    box-shadow: 2px 2px 8px 3px;
    background-color: rgba(31, 56, 90, 0.705);
    border: solid 2.5px rgba(44, 70, 107, 0.705);
}

.nav-item{
    margin: 0 10px 0 10px;
}

#introDiv{
    padding: 2em;
    position: relative;
    top: 20%;
}

#introText{
    text-align: justify;
    color: rgb(234, 246, 255);
    padding: 1em 2em 2em 5em;
}

#introP{
    font-size: 17px;
    max-width: 492px;
}

#introVid{
    padding-right: 4em;
}

.world{
    background-image: url("Images/world.png");
    width: 100%;
    height:600px
}

#worldText{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    text-align: justify;
    padding: 8em;
    color: rgb(234, 246, 255);
}

#worldP{
    font-size: 20px;
    max-width: 600px;
}

.gear{
    background-image: url("Images/gear.png");
    width: 100%;
    height:600px
}

#gearText{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: justify;
    padding: 8em;
    color: rgb(234, 246, 255);
}

#gearP{
    font-size: 20px;
    max-width: 600px;
}